.container {
  position: fixed;
  right: 20px;
  bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 999999;
}

.upButton, .downButton {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: hsl(var(--primary));
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s;
}

.upButton:hover, .downButton:hover {
  transform: scale(1.1);
}

.upButton:active, .downButton:active {
  transform: scale(0.95);
}
