.container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-right: 0.25rem;
}

.scrollButton {
  background-color: hsl(var(--primary)) !important;
  opacity: 1 !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
  z-index: 100;
  border-radius: 9999px !important;
  padding: 0.25rem !important;
  height: 1.75rem !important;
  width: 1.75rem !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.scrollButton:hover {
  transform: scale(1.05);
  opacity: 1 !important;
  background-color: hsl(var(--primary)) !important;
}

.scrollButton:active {
  transform: scale(0.95);
}

.icon {
  color: white !important;
  height: 1rem !important;
  width: 1rem !important;
}
